body {
    margin: 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: steelblue;
    padding: 10px;
}

h1{
    padding-left: 40px;
}

.navBar h1 a {
    color: black;
    text-decoration: none;
}

.navBar ul li {
    display: inline;
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

.navBar ul li a {
    color: black;
}

.displayPetsRow {
    column-count: 2;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 40px;
}

ul {
    list-style-type: none; 
    padding-left: 0; 
}

.displayPetsRow ul li {
    background: url('https://st2.depositphotos.com/1007168/6106/v/450/depositphotos_61068597-stock-illustration-cartoon-paw-print.jpg') no-repeat left center;
    background-size: contain; 
    padding-left: 40px; 
    margin-bottom: 10px; 
    line-height: 1.5;
    font-size: 20px;
    margin: 35px;
}

.catDog {
    vertical-align: left;
}

.textFields {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    column-count: 2;
}

.details {
    text-align: center;
    background-color: steelblue;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
}

.updatePet {
    text-align: center;
}

.addPet {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}